# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/

# Django
*.pyc
db.sqlite3
staticfiles/
media/

# Node / React
node_modules/
build/
dist/

# VSCode
.vscode/

# Environment files
.env

# System files
.DS_Store
Thumbs.db

**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/.terraform/
**/.terraform.tfstate.lock.info
**/k8s