alertmanager:
  enabled: true
  persistentVolume:
    enabled: false
  
server:
  persistentVolume:
    enabled: false
  
  service:
    type: ClusterIP  # Changed from LoadBalancer
    
pushgateway:
  enabled: false
  
nodeExporter:
  enabled: true
  
kubeStateMetrics:
  enabled: true