alertmanager:
  enabled: true
  
server:
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: ebs-sc
  
  service:
    type: LoadBalancer
    
pushgateway:
  enabled: false
  
nodeExporter:
  enabled: true
  
kubeStateMetrics:
  enabled: true