apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2   # <-- ADD OR FIX THIS
  resources:
    requests:
      storage: 5Gi
