name: CI-CD Pipeline
on:
    push:
        branches:
          - github-actions-deploy
jobs:
    build:
        name: Build Project
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Inatlling AWS CLI
            uses: aws-actions/configure-aws-credentials@v4
            with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-south-1

          - name: Installing Kubectl
            run: |
                curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
                chmod +x kubectl
                sudo mv kubectl /usr/local/bin/

          - name: Install eksctl
            run: |
                curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_Linux_amd64.tar.gz" | tar xz
                sudo mv eksctl /usr/local/bin

          - name: Install Trivy
            run: |
                sudo apt-get update
                sudo apt-get install -y wget apt-transport-https gnupg lsb-release
                wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
                echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list
                sudo apt-get update
                sudo apt-get install -y trivy

          - name: Run Trivy Scan (Do Not Fail Pipeline)
            run: |
                trivy fs --exit-code 0 --severity HIGH,CRITICAL .

          - name: Build Backend docker Image
            run: |
                  docker build -t backend-image:${{ github.sha }} ./backend

          - name: Build Frontend docker Image
            run: |
                  docker build \
                  --no-cache \
                  --build-arg REACT_APP_API_URL=${{ secrets.BACKEND_API_URL }} \
                  -t frontend-image:${{ github.sha }} \
                  ./frontend
           
          - name: Login to ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v2
            
          - name: Tag Backend Image
            run: |
                  docker tag backend-image:${{ github.sha }} ${{ steps.login-ecr.outputs.registry }}/task-mgmt-backend:${{ github.sha }}

          - name: Tag Frontend Image
            run: |
                  docker tag frontend-image:${{ github.sha }} ${{ steps.login-ecr.outputs.registry }}/task-mgmt-frontend:${{ github.sha }}

          - name: Scan Backend and Frontend Images
            run: |
                  trivy image --exit-code 1 --severity CRITICAL,HIGH ${{ steps.login-ecr.outputs.registry }}/task-mgmt-backend:${{ github.sha }}
                  trivy image --exit-code 1 --severity CRITICAL,HIGH ${{ steps.login-ecr.outputs.registry }}/task-mgmt-frontend:${{ github.sha }}
                  
          - name: Push Backend Image
            run: |
                  docker push ${{ steps.login-ecr.outputs.registry }}/task-mgmt-backend:${{ github.sha }}

          - name: Push Frontend Image
            run: |
                  docker push ${{ steps.login-ecr.outputs.registry }}/task-mgmt-frontend:${{ github.sha }}

          - name: Update kubeconfig
            run: |
                  aws eks update-kubeconfig --name task-mgmt-cluster --region ap-south-1

          - name: Update image tags in manifests
            run: |
                  sed -i "s|{{SHA}}|${{ github.sha }}|g" k8s/backend-deployment.yaml
                  sed -i "s|{{SHA}}|${{ github.sha }}|g" k8s/frontend-deployment.yaml        

          - name: Apply Kubernetes manifests
            run: |
                  kubectl apply -f k8s/

          - name: Run Database Migrations
            run: |
                  kubectl exec deploy/backend-deployment -- python manage.py migrate --noinput

          - name: Restart Backend Deployment
            run: |
                  kubectl rollout restart deployment backend-deployment

          - name: Restart Frontend Deployment
            run: |
                  kubectl rollout restart deployment frontend-deployment

          - name: Wait for rollouts to finish
            run: |
                  kubectl rollout status deployment backend-deployment
                  kubectl rollout status deployment frontend-deployment        